<div class="intro">
    <div class="intro-text">
        <h1 class="hide">
            <span class="text">Welcome to </span>
        </h1>
        <h1 class="hide">
            <span class="text">our communtiy of </span>
        </h1>
        <h1 class="hide">
            <span class="text">Renters!</span><span class="text intro-detail">...</span>
        </h1>
    </div>
</div>
<div class="slider"></div>