<section>
<div class="container-top">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
<div class="container-fluid background-property">
  <div class="row">
    <div class="col">
      <form class="search-button">
         <input class="input1" type="text" placeholder="Property Address" name="search">
         <button class="propSearchBtn" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
   <ol>
      {{#each properties}}
      <li>
         {{> prop-info}}
         {{!-- {{MOST RECENT COMMENT}} --}}
         {{!-- {{> comment}} --}}
      </li>
      {{/each}}
   </ol>
</section>
<